.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #cd9042;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a37436 #bd7d2a #ee8906;
  color: #111;
  border-radius: 5px;
}

.checkoutProduct__info > img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__bottomBorder {
  border: 1px solid;
  border-color: rgb(230, 230, 230);
  width: 100%;
}
