@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  background-color: rgb(234, 237, 237);
}

.image_gradient_mask {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@layer components {
  .header_option {
    @apply flex flex-col ml-2 mr-2 text-white h-fit w-fit;
  }

  .header_option_lineOne {
    @apply text-xs;
  }
  .header_option_lineTwo {
    @apply text-sm font-semibold;
  }
}
